@model MyClass.Models.Product
   

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">THÊM SẢN PHẨM</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" name="Create" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Lưu[Thêm]</button>
                            <a href="@Url.Action("Index", "Product")" class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i> Quay lại</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">

                            <div class="form-group">
                                <label>Tên sản phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Giá bán sản phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Giá bán khuyến mãi sản phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Số lượng sản phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Thông tin chi tiết sản phẩm <span class="text-danger">(*)</span></label>
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <label>Loại sản phẩm</label>
                                @Html.DropDownListFor(model => model.CatId, (SelectList)ViewBag.ListCat, "--Chọn loại sản phẩm--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Nhà sản xuất</label>
                                @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.ListSup, "--Chọn Nhà sản xuất--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Từ khóa <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.MetaKey, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Hình sản phẩm</label>
                                <input type="file" name="fileimg" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Trạng thái</label>
                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}